data
staticfiles
__pycache__
celerybeat-schedule

.env
configmap.yml
*secret.yml

commands
kustomization.yml

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

documentation