db
staticfiles
__pycache__
celerybeat-schedule

.env

accessories
*configmap.yml
*secret.yml

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
locals.tf

terraform1
terraform3

documentation