version: "3.8"
services:
  mysql:
    image: mysql
    container_name: mysql-service
    volumes:
    - ./django-app/data:/var/lib/mysql
    env_file:
    - ./.env

  django-app:
    image: sahilphule0710/django-app
    # build:
    #   context: ./django-app
    #   dockerfile: dockerfile
    container_name: django-app-service
    volumes:
    - ./django-app:/django-app
    env_file:
    - ./.env
    ports:
    - 8000:8000
    depends_on:
    - mysql

  nginx:
    image: sahilphule0710/django-app-nginx
    # build: 
    #   context: ./nginx
    #   dockerfile: dockerfile
    container_name: nginx
    volumes:
    - ./django-app:/django-app
    ports:
    - 80:80
    depends_on:
    - django-app

  # redis:
  #   image: redis
  #   container_name: redis

  # celery:
  #   image: sahilphule0710/django-app
  #   container_name: celery
  #   command: celery -A core worker -l INFO
  #   volumes:
  #   - ./django-app:/django-app
  #   depends_on:
  #   - django-app
  #   - redis
  
  # celery_beat:
  #   image: sahilphule0710/django-app
  #   container_name: celery_beat
  #   command: celery -A core beat -l info
  #   volumes:
  #   - ./django-app:/django-app
  #   depends_on:
  #   - celery